#heads {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
}

#head {
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: fit-content;
    width: 40%;
}

#border1 {
    border-style: dotted;
    border-color: brown;
}

h1, h3 {
    text-align: center;
}

#chat-area {
  height: 45vh;
  width: 45%;
  background-color: rgb(223, 228, 250);
}
