{% extends "layouts.html" %}

{% block title %}
{{book.title}}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>{{book.title}}</h2>
            <p>Author: {{book.author}}</p>
            <p>Year of Publication: {{book.year}}</p>
            <p>ISBN: {{book.isbn}}</p>
        </div>
    </div>
    <div class="col-sm-4">
        <p>Click below to signout</p>
        <a href="{{url_for('index')}}">Logout</a>
    </div>
</div>

{% endblock %}