<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock%}</title>

        <meta name="viewport", content="width=device-width, height=device-height initial-scale=1.0">
        <link rel="stylesheet", href="./static/bootstrap.css">
        <link rel="stylesheet", href="./static/style1.css">
        <style>
            h1 {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Dr. Piper's Books Review Page</h1>
            </div>
            {% block body %}
            {% endblock %}

        </div>
        
    </body>
</html>