<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock%}</title>

        <meta name="viewport", content="width=device-width, height=device-height initial-scale=1.0">
        
        <link rel="stylesheet", href="./static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        
        
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                socket.on('connect', () => {
                    document.querySelector('#form').onsubmit = () => {
                        const selection = document.querySelector('#channel').value;
                        socket.emit('create channel', {'selection': selection});
                        document.querySelector('#channel').value = '';
                        document.querySelector('#create').disabled = true;

                        return false;
                    };
                });

                socket.on('channel created', data => {
                    const li = document.createElement('a');
                    li.className = "container"
                    li.href = document.querySelector('#channel').value;
                    li.style.borderStyle = "double";
                    li.innerHTML = `Channel ${data.selection}`;
                    document.querySelector('#channelslink').append(li);
                    const br = document.createElement('br');
                    document.querySelector('#channelslink').append(br);
                });
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#create').disabled = true;
            document.querySelector('#channel').onkeyup = () => {
                if (document.querySelector('#channel').value.length > 0) 
                    document.querySelector('#create').disabled = false;
                else
                    document.querySelector('#create').disabled = true;
            
                };
            

            });
        </script>
        
    </head>
    <body style="border-style: double;">
        <div class="container-fluid">
            <div style="height: 30px;" class="page-header">
                <h1>Live Chat App</h1>
            </div>
            <div class="container-fluid" style="background-color: rgb(47, 71, 73); height: fit-content;">
                <div class="row">
                    <div id="heads" class="col-sm-8">
                        <div id="head" style="background-color: seashell; height: fit-content;" class="well">
                            <h2>FLACK</h2>
                        </div>
                    </div>
                    <div style="align-content: flex-end; align-self: flex-end;" class="col-sm-4">
                        <form action="{{ url_for('index')}}" style="align-content: flex-end; align-self: flex-end; text-align: right;">
                            <label style="background-color: seashell;">{{username}}</label>
                            <button class="btn btn-primary">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div id="#head">
                    &nbsp;
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="container">
                                <p>Create a new channel below</p>
                                
                                    <form id="form">
                                        <input id="channel" type="text" placeholder="Channel name">
                                        <button id="create" class="btn btn-primary">Create</button>
                                    </form>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <div style="border-style: dashed;">
                                    <h3><b>Channels</b></h3>
                                </div>
                                <div style="width:300px; height: 180px; overflow: auto;" class="container" id="channelslink">
        
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-sm-9">
                            <div style="border-style: dashed;">
                                <h3><b>Messages</b></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
                            
        </div>
        
    </body>
</html>