<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock%}</title>

         <meta name="viewport", content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet", href="./static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        
    

    </head>
    <div id="page" class="container-fluid fixed-top">
        <body style="border-style: double; height: 97vh;">
            <div class="container-fluid fixed-top">
                <div style="height: 30px;" class="page-header">
                    <h1>Live Chat App</h1>
                </div>
                <div class="container-fluid" style="background-color: rgb(47, 71, 73); height: fit-content;">
                    <div class="row">
                        <div id="heads" class="col-sm-8">
                            <div id="head" style="background-color: seashell; height: fit-content;" class="well">
                                <h2>FLACK</h2>
                            </div>
                        </div>
                        <div style="align-content: flex-end; align-self: flex-end;" class="col-sm-4">
                            <form action="{{ url_for('index')}}" style="align-content: flex-end; align-self: flex-end; text-align: right;">
                                <label style="background-color: seashell;">{{username}}</label>
                                <button class="btn btn-primary">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div id="#head">
                        &nbsp;
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="container-fluid">
                                    <p>Create a new channel below</p>
                                    
                                        <form id="form">
                                            <input id="channel" type="text" placeholder="Channel name">
                                            <button id="create" class="btn btn-primary">Create</button>
                                        </form>
                                </div>
                                <div>
                                    &nbsp;
                                </div>
                                <div>
                                    <div style="border-style: dashed;">
                                        <h3><b>Channels</b></h3>
                                    </div>
                                    <div style="width:40vh; height: 40vh; overflow: auto;" class="container" id="channelslink">
            
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="col-sm-9">
                                <div style="border-style: dashed;">
                                    <h3><b>Messages</b></h3>
                                </div>
                                <div style="height: 30vh;">
                                    <div>
                                        &nbsp;
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div style="height: 50vh; overflow: auto;" id="alert" class="col-sm-4">
                                                
                                            </div>
                                            <div style="height: 50vh; width: 80vh;" id="chat-area" class="col-sm-8">
                                                <div style="background-color: rgb(236, 236, 245); height: 40vh; width: 80vh; overflow: auto;" class="row" id="message-area">

                                                </div>
                                                <div class="row" style="background-color: rgb(27, 12, 15); height: 10vh;">
                                                    <form id="form1", method="POST">
                                                        <div class="col-sm-10">
                                                            <input type="text" placeholder="Enter your message here" id="message">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <button id="send" class="btn btn-primary">Send</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                                
                        </div>
                    </div>
                </div>

                
                                
            </div>
            
        </body>
    </div>
</html>